@import './colors.less';
@import url('https://fonts.googleapis.com/css?family=Roboto');

@andrewPoopBrown: #B59B18;
@andrewLightBrown: #E8A737;

.fontFamily() {
  font-family: 'Roboto', sans-serif;
}

body {
  .fontFamily();
}

button {
  .fontFamily();
  background-color: @color-secondary-1-0;
  border: none;
  font-size: 14px;
  padding: 6px 12px;
  font-weight: bold;

  &:hover {
    background-color: @color-secondary-1-2;
    cursor: pointer;
  }
}

.add-post {
  margin-top: 15px;

  .textarea textarea {
    width: 350px;
    height: 60px;
    font-family: monospace;
    font-size: 12px;
  }
}

.post {
  margin: 5px 0;

  .post-inner {
    display: inline-block;
    background-color: @andrewLightBrown;

    .title {
      background-color: @andrewPoopBrown;
      padding: 5px 10px 5px 10px;
      margin-bottom: 5px;
      font-weight: bold;

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
      }

      li {
        display: inline-block;
        margin-left: 10px;

        &:first-child {margin-left: 0;}
      }

      .authorIdSlug {
        padding: 2px;
        cursor: default;
      }

      .timestamp {
        font-style: italic;
        color: #5a5a5a;
      }
    }

    .content {
      padding: 0 10px 5px 10px;
    }
  }
}

a {
  text-decoration: none;
  color: @color-secondary-2-0;

  &:hover {
    color: @color-secondary-2-2;
    text-decoration: underline;
  }
}

.app .menu {
  .nav {
    margin: 10px 5px;
    border: 2px solid @color-primary-2;

    a {
      text-decoration: none;
      color: black;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a:first-child li {
        border-left: none;
      }

      li {
        border-left: 2px solid @color-primary-2;
        display: inline-block;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;

        &:hover {
          background-color: @color-primary-2;
        }
      }
    }
  }
}
